<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title><%= SITE_TITLE %></title>
	<link href="/reset.css" rel="stylesheet">
	<link href="/style.css" rel="stylesheet">
</head>
<body>
	<header>
		<hgroup>
			<h1><a href="/"><%= SITE_TITLE %></a></h1>
		</hgroup>
	</header>

	<div id="main">
		<%= yield %>
	</div>

	<footer>
		<p class="floatclear"></small></p>
	</footer>
</body>
</html>
